body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: white; /* Light Blue Background */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #333; 
    color: white;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
    color: #333;
}

.references-box {
    background-color: #7a7a7a; /* Dark Blue Box */
    color: #fff; /* White Text */
    border: 1px solid #00008B;
    padding: 20px;
    margin: 20px;
    border-radius: 8px;
}

.references-box h2 {
    margin-top: 0;
}

.references-box ul {
    list-style-type: none;
    padding: 0;
}

.references-box ul li {
    margin-bottom: 10px;
}

.references-box ul li a {
    color: #FFD700; /* Gold Links */
    text-decoration: none;
}

.references-box ul li a:hover {
    text-decoration: underline;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: auto; /* Pushes footer to bottom */
}
